body {
  overflow: hidden;
  height: 100vh;
}

main {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fade-and-appear-animation .75s normal 1 forwards;
}

.logo {
    margin-top: 98px;
}

.title {
  margin: 18px 0 21px 0;
}

.title h2 {
  color: var(--grey);
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

.login-button {
  color: #fff;
  background: var(--main-orange) !important;
  border: 0 !important;
  font-weight: 500;
  font-family: "Nunito", sans-serif !important;
  width: 100%;
  height: 60px;
  transition: 0.2s ease;
  font-size: 25px !important;
}

.login-button:hover {
  filter: brightness(0.9);
}

label[for="keep-logged"] {
  font-family: "Nunito", sans-serif;
  color: var(--light-grey);
  font-weight: 400;
  font-size: 14px;
}

label[for="keep-logged"] a {
  font-weight: 700;
}

label[for="keep-logged"] a:hover {
  color: var(--main-orange);
}

.to-register-text {
  font-family: "Nunito", sans-serif;
  color: var(--light-grey);
  margin-top: 50px;
}

.to-register-text a {
  font-weight: 700;
}

.to-register-text a:hover {
  color: var(--main-orange);
}

form {
  width: 332px;
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.form-group{
    margin: 15px 0;
}

.form-control {
  height: 60px !important;
}

footer {
  margin-top: 113px;
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: var(--light-grey);
  animation: fade-and-appear-animation .85s normal 1 forwards;
}

#top-left-illustration {
  position: absolute;
  top: 15px;
  left: 0;
  width: 250px;
}

#bottom-right-illustration {
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 350px;
}

#top-right-illustration {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
}

#top-center-illustration {
  position: absolute;
  top: -15px;
  transform: rotateZ(34deg);
  right: 51%;
  width: 125px;
  z-index: -10;
}

#bottom-left-illustration {
  position: absolute;
  bottom: 25px;
  width: 125px;
  left: 25px;
  transform: rotateZ(46deg);
}

#bottom-center-illustration {
  position: absolute;
  width: 150px;
  left: 22.5%;
  bottom: 35%;
  transform: rotateZ(46deg);
}

#center-right-illustration {
  position: absolute;
  right: 24%;
  bottom: 50%;
  width: 75px;
  transform: rotateZ(-26deg);
}

@keyframes fade-and-appear-animation{
    0%{
        opacity: 0;
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 375px){
  .logo{
    margin-top: 95px;
  }

  .logo img{
    width: 90px;
    height: 90px;
  }

  .title{
    margin-top: 40px;
    margin-bottom: 24px;
  }

  .form-group{
    margin: 17px 0;
  }

}