body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: var(--main-orange);
}

main {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fade-and-appear-animation 0.75s normal 1 forwards;
}

.logo {
  margin-top: 98px;
}

.title {
  margin: 18px 0 21px 0;
}

.title h2 {
  color: var(--grey);
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

.register-button {
  color: #fff;
  background: var(--main-orange) !important;
  border: 0 !important;
  font-weight: 500;
  font-family: "Nunito", sans-serif !important;
  width: 100%;
  height: 60px;
  transition: 0.2s ease;
  font-size: 20px !important;
}

.register-button:hover {
  filter: brightness(0.9);
}

label[for="accept-terms-of-use"] {
  font-family: "Nunito", sans-serif;
  color: var(--light-grey);
  font-weight: 400;
  font-size: 18px;
}

label[for="accept-terms-of-use"] a {
  font-weight: 700;
}

label[for="accept-terms-of-use"] a:hover {
  color: var(--main-orange);
}

.to-login-text {
  font-family: "Nunito", sans-serif;
  color: var(--light-grey);
  margin-top: 50px;
  font-size: 18px;
}

.to-login-text a {
  font-weight: 700;
}

.to-login-text a:hover {
  color: var(--main-orange);
}

form {
  width: 332px;
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
}

footer {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 83px;
  font-size: 15px;
  text-align: center;
  color: var(--light-grey);
  animation: fade-and-appear-animation 0.85s normal 1 forwards;
}

.form-control {
  height: 60px !important;
}

#top-left-illustration {
  position: absolute;
  top: 15px;
  left: 0;
  width: 250px;
}

#bottom-right-illustration {
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 350px;
}

#top-right-illustration {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
}

#top-center-illustration {
  position: absolute;
  top: -15px;
  transform: rotateZ(34deg);
  right: 51%;
  width: 125px;
  z-index: -10;
}

#bottom-left-illustration {
  position: absolute;
  bottom: 25px;
  width: 125px;
  left: 25px;
  transform: rotateZ(46deg);
}

#bottom-center-illustration {
  position: absolute;
  width: 150px;
  left: 22.5%;
  bottom: 35%;
  transform: rotateZ(46deg);
}

#center-right-illustration {
  position: absolute;
  right: 24%;
  bottom: 50%;
  width: 75px;
  transform: rotateZ(-26deg);
}

@keyframes fade-and-appear-animation {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 375px) {
  body {
    overflow-y: auto;
  }

  .logo {
    margin-top: 95px;
  }

  .logo img {
    width: 90px;
    height: 90px;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 24px;
  }

  .form-group {
    margin: 17px 0;
  }

  #top-left-illustration {
    left: 0;
    width: 162px;
    height: 162px;
  }

  #bottom-right-illustration {
    right: 0;
    top: 100px;
    width: 143.24px;
    height: 143.24px;
  }

  #top-center-illustration {
    left: 24px;
    top: 511px;
    width: 91.99px;
    height: 92.09px;
  }

  #bottom-left-illustration {
    width: 73.38px;
    left: 245px;
    transform: rotateZ(-35deg);
    height: 73.43px;
    top: 448px;
  }

  #top-right-illustration {
    top: 242px;
    left: 0;
    width: 153.49;
    height: 153.69;
    transform: rotateZ(35deg);
  }

  #bottom-center-illustration{
    bottom: 0;
    left: 270px;
    right: 0;
    transform: rotateZ(0deg);
    width: 115.74px;
    height: 114.26px;
  }

  #center-right-illustration{
    right: 212.48px;
    bottom: 0;
    width: 71.15px;
    height: 71.14px;
    transform: rotateZ(46.46deg);
    left: 0;
  }
}
